<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="GobangServer.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../DatabaseInterface/UserInformation/src/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="Client" />
      <element id="module-output" name="GobangServer" />
      <element id="module-output" name="Server" />
      <element id="module-output" name="UserInformation" />
      <element id="extracted-dir" path="E:/jars/mysql-connector-java-5.1.38/mysql-connector-java-5.1.38-bin.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>